---
import type { Resin } from "../../pages/resinas/resins";
import { Image } from "astro:assets";
interface Props {
  resin: Resin;
}
const { resin } = Astro.props;

function limitarString(str: string, limite: number) {
  if (str.length <= limite) return str;
  return str.slice(0, limite) + "...";
}
---

<div class="max-w-xs rounded-lg overflow-hidden shadow-lg">
  <Image
    width={200}
    height={200}
    class="w-full"
    src={resin.img}
    alt={resin.title}
  />
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{resin.title}</div>
    <p class="text-gray-700 text-base">
      {limitarString(resin.description, 70)}
    </p>
    <p class="text-gray-700 text-base font-bold mt-2">${resin.price}</p>
  </div>
  <div class="px-6 py-4">
    <a
      href={resin.purchaseLink}
      target="_blank"
      class="block bg-blue-500 hover:bg-blue-700 text-white text-center font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-300"
      >Comprar en Amazon</a
    >
  </div>
</div>
